<?xml version="1.0" encoding="UTF-8"?>

<configuration status="debug">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>

    <loggers>
        <!--        에러의 레벨을 지정하면, 그 에러 윗단계만 로그를 찍는다.-->
        <root level="info" additivity="true">
            <!--            로그 기록-->
            <AppenderRef ref="console"/>
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>

</configuration>